<div class="container">
    TODO - DO the screen Presentation
    <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.title%>  - <%= comment.description%> </li>
      <% end %>
    </ul>
</div>
