<div class="container">
    <h2>Users Index</h2>
    <hr>
    <ul>
      <% @users.each do |u| %>
        <li>
          <%= u.name %>
          <%= link_to "Show", user_path(u.id) %>
          <%= link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
</div>
