 <div class="row col12">
    <div class="row">
         <div class="col l12"><p>Carousel section</p></div>
    </div>

    <div class="row">
        <div class="col l9">
            <p>Spots section</p>
            <hr>
            This section will contain all the favourite spots
            <hr>
            And this will contain the corresponding comments that have been posted
        </div>
        <div class="col l3"><p>Google Map section</p></div>
    </div>
 </div>
